.card-img-top{
 
  height:200px;
  object-fit:cover;
}


.nav-link {
  transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
  color: #aa1010;
  
  cursor: pointer; /* Change cursor on hover */
}

/* Optional: Add a different style for active nav items */
.nav-link.active {
  color: #fff;
  background-color: #0056b3; /* Different background for active item */
}